<div class="landing-header">

  <div class="logo-roadbook" title="Ideacamp Digital Roadbook"></div>

  <div class="my-profile">

    {{#if homeCreateProject}}
      <div class="profile-btn">
        <button id="create-project" class="btn btn-primary btn-blue" type="button">{{__ "Create Project"}}</button>
        <div class="dropdown-project dropdown" id="dashboard-list"></div>
      </div>
    {{/if}}

    <div class="profile-btn hidden-xs">
    {{#isLoggedIn}}
      <a class="btn-profile">
        {{getMyProfileImageHex}}
      </a>
      <a class="logout" href="/logout" data-bypass>{{__ "Log out"}}</a>
    {{else}}
      <a class="login">{{__ "Log in"}}</a>
    {{/isLoggedIn}}
    </div>

  </div>


  <div class="text-vcenter call-action">

    <div class="logo logo-ideacamp" title="2017 Moving communities"></div>

  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">

      <a class="btn btn-default mobile-menu visible-xs">
        <i class="fa fa-align-justify"></i>
      </a>

            <ul class="nav nav-tabs landing" role="tablist">

        <li id="collection" class="collection">
          <a href="#collections" role="tab" data-toggle="tab">{{__ "Collections"}}</a>
        </li>
        <li id="dashboard" class="dashboard">
          <a href="#dashboards" role="tab" data-toggle="tab">{{__ "Dashboards"}}</a>
        </li>
        <li id="project" class="project">
          <a href="#projects" role="tab" data-toggle="tab">{{__ "Projects"}}</a>
        </li>
        <li id="user" class="user">
          <a href="#users" role="tab" data-toggle="tab">{{__ "People"}}</a>
        </li>
        {{#isLoggedIn}}
        <li class="visible-xs">
          <a class="logout" href="/logout" data-bypass>{{__ "Log out"}}</a>
        </li>
        {{else}}
        <li>
          <a class="login">{{__ "Log in"}}</a>
        </li>
        {{/isLoggedIn}}
      </ul>

    </div>
  </div>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="dashboards"></div>
  <div role="tabpanel" class="tab-pane" id="projects"></div>
  <div role="tabpanel" class="tab-pane" id="users"></div>
  <div role="tabpanel" class="tab-pane" id="collections"></div>
</div>

<div class="col-md-12 stats-ctn"></div>

<div class="col-md-12 team-wrapper">
  <h3 class="team-tab">{{__ "team"}}</h3>
  <div class="team-ctn"></div>
</div>

<div class="col-md-12 partners-wrapper">
  <h3 class="partners-tab">{{__ "partners"}}</h3>
  <div class="partners-ctn"></div>
</div>

<div class="col-md-12 network-wrapper">
  <h3 class="network-tab">IdeaCamp Network</h3>
  <div class="network-ctn">

    <ul>
      <li class="clubture"></li>
      <li class="pravonagrad"></li>
      <li class="operacija-grad"></li>
      <li class="tetes-art"></li>
      <li class="goteo"></li>
      <li class="oberliht"></li>
      <li class="critica-politica"></li>
      <li class="subtopia"></li>
    </ul>

  </div>
</div>

<div class="landing-footer">
  <div class="text-vcenter call-action">

    <div class="container-fluid">

      <div class="row">

      {{#if canCreateDashboard}}
        <div class="col-xs-12">
          <div class="input-group">
            <input id="domain" type="text" class="form-control" placeholder="event name (5-20 chars)">
            <span class="input-group-btn">
              <button id="create-dashboard" class="btn btn-primary" type="button">{{__ "create now"}}</button>
            </span>
          </div>
          <p id="new-dashboard-error" class="text-center text-danger hidden">{{__ "ERROR"}}</p>
        </div>
      {{/if}}

      </div>

    </div>

  </div>
</div>

<div class="col-md-12 about-ctn">
  {{{__ "The HackDash was born"}}}
</div>

<div class="col-md-12 footer-ctn"></div>
