{{#if isDashboard}}

  <a data-placement="top" data-original-title="{{switcherMsg}}"
    class="tooltips dashboard-btn footer-toggle-ctn {{#if open}}dash-open{{else}}dash-close{{/if}}">
    <i class="txt {{#if open}}btn-success{{else}}btn-danger{{/if}}">{{#if open}}Open{{else}}Close{{/if}}</i>
    <div>{{__ "Dashboard Status"}}</div>
  </a>

  <a class="btn-showcase-mode">
    <i class="btn-danger txt">{{__ "off"}}</i><div>{{__ "Edit Showcase"}}</div>
  </a>
{{/if}}

{{#if isForm}}
  {{#if isDashboardForm}}
    <a href="/dashboards/{{domain}}">
      <i class="fa fa-dashboard"></i>
      <div>Back to dashboard</div>
    </a>
  {{else}}
    <a href="/collections/{{_id}}">
      <i class="fa fa-object-group"></i>
      <div>Back to collection</div>
    </a>
  {{/if}}
{{else}}

  {{#if isCollection}}
      <a class="btn-admin-forms" href="/collections/{{_id}}/forms">
        <i class="fa fa-file-text-o"></i><div>Admin forms</div>
      </a>
  {{else}}
    <a class="btn-open-admin footer-toggle-ctn">
      <i class="fa fa-cogs"></i><div>Admin stuff</div>
    </a>
  {{/if}}

{{/if}}

