
<a class="brand {{#if isDashboard}}{{#if isAdmin}}dashboard-footer{{/if}}{{/if}}">
  <span class="logo" title="Wotify"></span>
  <span class="logo-platoniq" title="Developed by Platoniq">Platoniq.net</span>
  <span class="logo-hackdash" title="Powered by Hackdash">Powered by Hackdash</span>
</a>

{{#if isDashboard}}
  {{#if isAdmin}}
  <div class="footer-dash-ctn">


    <div class="footer-toggle-ctn">

      <a href="/api/v2/dashboards/{{domain}}/csv" target="_blank" data-bypass>
        <i class="fa fa-download"></i>
        <div>Export .CSV File</div>
      </a>

      <a data-placement="top" data-original-title="{{switcherMsg}}"
        class="tooltips dashboard-btn {{#if open}}dash-open{{else}}dash-close{{/if}}">
        <i class="txt {{#if open}}btn-success{{else}}btn-danger{{/if}}">{{#if open}}Open{{else}}Close{{/if}}</i>
        <div>Event board Status</div>
      </a>

      <a class="btn-add-questions" href="/dashboards/{{domain}}/questions">
        <i class="fa fa-question"></i><div>Add questions</div>
      </a>
    </div>

    <a class="btn-showcase-mode">
      <i class="btn-danger txt">off</i><div>Edit Showcase</div>
    </a>


  </div>
  {{/if}}
{{/if}}

<a class="up-button">
  <i class="fa fa-long-arrow-up"></i>
  <span>up</span>
</a>