<div class="form-group">
  <label for="q-{{_id}}">{{title}}</label>
  <input type="file" name="{{name}}" value="{{value}}" id="q-{{_id}}">
  {{#if help}}
    <p class="help-block">{{help}}</p>
  {{/if}}
</div>
