<div class="form-group">
  <label for="q-{{_id}}">{{title}}</label>

  <select name="{{name}}" class="form-control" style="width: 100%" {{#if multiple}} multiple{{/if}} id="q-{{_id}}">
  {{#each values}}
    <option{{../selected this}}>{{this}}</option>
  {{/each}}
  </select>
  {{#if help}}
    <p class="help-block">{{help}}</p>
  {{/if}}
</div>
