<div class="form-group">
  <label for="q-{{_id}}">{{title}}</label>
  <textarea name="{{name}}" class="form-control" id="q-{{_id}}"{{#if placeholder}} placeholder="{{placeholder}}"{{/if}}>{{value}}</textarea>
  {{#if help}}
    <p class="help-block">{{help}}</p>
  {{/if}}
</div>
