<div class="cover">{{getProfileImageHex .}}</div>
<h1 class="header">{{name}}</h1>
<div class="profileInfo">

{{#isLoggedIn}}
  <p>{{email}}</p>
{{else}}
  <p><a class="login" style="color: #A8A8A8;">{{__ "[ Log in to reveal e-mail ]"}}</a></p>
{{/isLoggedIn}}

  <p>{{getRole}}</p>

  <p>{{bio}}</p>

  {{#if getSkills}}
    <p><strong>{{skillsText}}</strong></p>
    <p>{{getSkills}}</p>
  {{/if}}

  {{#if facebook}}
    <a href="{{facebook}}"><i class="fa fa-fw fa-2x fa-facebook"></i></a>
  {{/if}}
  {{#if twitter}}
    <a href="{{twitter}}"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
  {{/if}}
  {{#if instagram}}
    <a href="{{instagram}}"><i class="fa fa-fw fa-2x fa-instagram"></i></a>
  {{/if}}
  {{#if linkedin}}
    <a href="{{linkedin}}"><i class="fa fa-fw fa-2x fa-linkedin"></i></a>
  {{/if}}
  {{#if github}}
    <a href="{{github}}"><i class="fa fa-fw fa-2x fa-github"></i></a>
  {{/if}}
  {{#if google}}
    <a href="{{google}}"><i class="fa fa-fw fa-2x fa-google-plus"></i></a>
  {{/if}}

</div>
