<h1 class="header edit">{{__ "Edit Your Profile"}}</h1>

<div class="cover">{{getProfileImageHex .}}</div>

<form>

  <div class="form-content">
    <label class="profile-fields-required">{{__ "all fields required"}}</label>

    <div class="form-group">
      <input name="name" type="text" placeholder="Name" value="{{name}}" class="form-control"/>
    </div>

    <div class="form-group">
      <div id="dragdrop" class="dropzone item-cover"
        {{#if picture}}
        style="background-image: url({{picture}});"
        {{/if}}>
      </div>
      <p class="error-cover bg-danger text-danger hidden"></p>
    </div>

    {{#if showSkills}}
      <div class="form-group">
        <label>{{skillsText}}</label>
        <select name="skills" class="form-control" multiple>
          {{#each skillsList}}
            <option value="{{.}}"{{../hasSkillSelected . }}>{{__ .}}</option>
          {{/each}}
        </select>
    </div>
    {{/if}}

    {{#if canEditRole}}
      <div class="form-group">
        <select name="role" class="form-control">
          <option value="">{{__ "Role"}}</option>
          {{#each roles}}
            <option value="{{role}}"{{selected role ../role}}>{{name}}</option>
          {{/each}}
        </select>
      </div>
    {{else}}
      <div class="form-group">
        <p>{{getRole}}</p>
      </div>
    {{/if}}

    <div class="form-group">
      <input name="email" type="text" placeholder="Email" value="{{email}}" class="form-control"/>
      {{#unless email}}
      <label class="email-info">{{__ "email only visible for logged in users"}}</label>
      {{/unless}}
    </div>

    <div class="form-group">
      <textarea name="bio" placeholder='{{__ "about_you"}}' class="form-control" rows="4">{{bio}}</textarea>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-fw fa-facebook"></i></div>
        <input name="facebook" type="text" placeholder="Facebook profile URL" value="{{social.facebook}}" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-fw fa-twitter"></i></div>
        <input name="twitter" type="text" placeholder="Twitter profile URL" value="{{social.twitter}}" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-fw fa-instagram"></i></div>
        <input name="instagram" type="text" placeholder="Instagram profile URL" value="{{social.instagram}}" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-fw fa-linkedin"></i></div>
        <input name="linkedin" type="text" placeholder="LinkedIn profile URL" value="{{social.linkedin}}" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-fw fa-github"></i></div>
        <input name="github" type="text" placeholder="LinkedIn profile URL" value="{{social.github}}" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-fw fa-google-plus"></i></div>
        <input name="google" type="text" placeholder="Google+ profile URL" value="{{social.google}}" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <p class="form-control-static">{{ __ "non_public_data"}}:</p>
    </div>
    <div class="form-group">
      <input name="birthdate" type="text" data-provide="datepicker" data-date-format="dd/mm/yyyy" placeholder="Date of birth" value="{{formatDateLocal birthdate}}" class="form-control"/>
    </div>
    <div class="form-group">
      <select name="gender" class="form-control">
        <option value="">{{__ "Gender"}}</option>
        <option value="M"{{selected gender "M"}}>{{__ "Male"}}</option>
        <option value="F"{{selected gender "F"}}>{{__ "Female"}}</option>
        <option value="O"{{selected gender "O"}}>{{__ "Other"}}</option>
      </select>
    </div>
    <div class="form-group">
      <input name="location" type="text" placeholder="City" value="{{formatLocation location}}" class="form-control"/>
    </div>

      <input name="city" type="hidden" value="{{location.city}}"/>
      <input name="region" type="hidden" value="{{location.region}}"/>
      <input name="country" type="hidden" value="{{location.country}}"/>
      <input name="zip" type="hidden" value="{{location.zip}}"/>
      <input name="lat" type="hidden" value="{{location.coordinates.[0]}}"/>
      <input name="lng" type="hidden" value="{{location.coordinates.[1]}}"/>

  </div>
  <div class="form-actions">
    <input id="save" type="button" data-loading-text='{{__ "saving..."}}' value='{{__ "Save profile"}}' class="btn-primary pull-right"/>
    <label class="saved pull-left hidden">{{__ "Profile saved, going back to business ..."}}</label>
    {{#if email}}
    <a id="cancel" class="btn-cancel pull-left">{{__ "cancel"}}</a>
    {{/if}}
  </div>
</form>
