{{#each fields}}
  {{#if help}}
    {{{markdown help}}}
  {{/if}}
  <div class="form-group">
    {{#if title}}
      <label for="{{id}}">{{title}}</label>
    {{/if}}
    <textarea class="form-control extra-field" id="extra-{{id}}" name="extra[{{id}}]" placeholder="{{placeholder}}">{{value}}</textarea>
  </div>
{{/each}}
