<div class="header">
  <div class="container">
	  <h1>{{__ "Forms for"}} <small>{{itemTitle}}</small></h1>
  	<p>{{__ "These forms must be filled by the project leader"}}</p>
  </div>

</div>

<div class="body">

  <div class="container">

    <h3>{{__ "Current forms:"}}</h3>
  	<div class="forms-list"></div>

  	<button class="btn btn-primary new-form">{{__ "Create a new form"}}</button>

  </div>

</div>
