<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <i class="fa fa-close"></i>
  </button>
  <h2 class="modal-title">{{#if _id }}Edit question{{else}}New question{{/if}}</h2>
</div>

<div class="modal-body">

<div class="form-content">

  <div class="form-group">
    <input type="text" class="form-control" name="title" placeholder="Question to respond" value="{{title}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="help" placeholder="Help text (if any)" value="{{help}}">
  </div>
  <div class="form-group">

    <select name="type" class="form-control">
    	<option value="" disabled{{typeSelected null}}>Question type (choose one)</option>
      <option value="text"{{typeSelected "text"}}>One line text</option>
    	<option value="textarea"{{typeSelected "textarea"}}>Multiline text</option>
      <option value="boolean"{{typeSelected "boolean"}}>Yes or no</option>
      <option value="select"{{typeSelected "select"}}>Select list</option>
      <option value="checkbox"{{typeSelected "checkbox"}}>Multiple choices</option>
      <option value="range"{{typeSelected "range"}}>Range of elements</option>
      <option value="geocoder"{{typeSelected "geocoder"}}>Geografic coordinates with autocomplete</option>
    	<option value="file"{{typeSelected "file"}}>Upload file</option>
    </select>
  </div>

  <div class="question-options"></div>

  <a id="save" class="btn btn-success">Save</a>

  <a id="delete" class="btn btn-danger">Delete</a>

</div>

</div>
