<h3>{{title}}</h3>

{{{markdown description}}}

{{#if showErrors}}
  <div class="alert alert-danger" id="login-errors">
    {{showErrors}}
  </div>
{{/if}}

{{#if showMessages}}
  <div class="alert alert-success" id="login-messages">
    {{showMessages}}
  </div>
{{/if}}

<div class="form-content">

  <div class="questions-list">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>

  {{#if isDummy}}
    <a class="btn btn-info send-form">Close demo</a>
  {{else}}

    {{#unless readOnly}}
      <a class="btn btn-success send-form">Send</a>
    {{/unless}}

    <div class="pull-right">
      {{#if dashboard}}
        <a class="btn btn-info" href="/dashboards/{{dashboard}}">Go to dashboard</a>
      {{else}}
        <a class="btn btn-info" href="/projects/{{project.id}}/forms">Go to project forms</a>
        <a class="btn btn-success" href="/projects/{{project.id}}">Go to project</a>
      {{/if}}
    </div>
  {{/if}}
</div>

<div class="done"></div>
