<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-heading">{{title}}</h4>
    <div>
    {{{markdown description}}}
    </div>
  </div>

  <div class="panel-body">

    {{#if projects}}
      <ul class="list-group">
      {{#each projects}}
        <li class="list-group-item">
          <a href="/projects/{{_id}}">
          <img class="media-object" style="max-height: 100px;max-width: 100px;display:inline-block" src="{{cover}}" alt="Project cover">
            {{title}}
          </a>

          <span class="pull-right">
            {{ ../respondedLabel .. .}}
            <br>
            {{#if ../canRespond}}
              <a href="/forms/{{../_id}}/{{_id}}/respond" class="btn btn-info">{{ __ "Reply this form"}}</a>
            {{/if}}
            {{#if ../canView}}
              {{!-- <span class="badge">Closed</span> --}}
              <a href="/forms/{{../_id}}/{{_id}}" class="btn btn-default">{{ __ "View responses"}}</a>
            {{/if}}
          </span>
        </li>
      {{/each}}
      </ul>
    {{/if}}

    {{#isPublic}}
      {{ respondedLabel .}}
      <br>
      {{#canRespond}}
        <a href="/dashboards/{{domain}}/surveys/{{_id}}/respond" class="btn btn-info">{{ __ "Reply this form"}}</a>
      {{/canRespond}}
      {{#canView}}
        {{!-- <span class="badge">Closed</span> --}}
        <a href="/dashboards/{{domain}}/surveys/{{_id}}" class="btn btn-default">{{ __ "View responses"}}</a>
      {{/canView}}
    {{/isPublic}}

  </div>
</div>
