<div class="media">
  <div class="media-body">
    <h4 class="media-heading">{{title}}</h4>
    {{{markdown description}}}

    {{#if projects}}
      {{#each projects}}
      <div class="media">
        <div class="media-left">
          <a href="/forms/{{../_id}}/{{_id}}">
            <img class="media-object" style="max-height: 100px;max-width: 100px" src="{{cover}}" alt="Project cover">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{title}}</h4>
        </div>
      </div>
      {{/each}}
    {{/if}}

  </div>
</div>
