<div class="panel-heading" role="tab">
  <h4 class="panel-title">
    <a role="button"{{#if collapse}} data-toggle="collapse"{{/if}} href="#prj-{{ project._id }}" data-bypass>
    <span class="label label-default">ID: {{project.projectId}}</span>


    {{project.title}}
    -
    {{project.leader.name}}
    {{#if project.leader.email}}
      -
      {{project.leader.email}}
    {{/if}}

    <span class="pull-right">{{percentLabel responded}}</span>
    </a></h4>
</div>

<div id="prj-{{ project._id }}" class="{{#if collapse}}panel-collapse collapse{{/if}}" role="tabpanel">
  <dl>
  {{#each responses}}
    <dt><i class="fa fa-{{../fa question.type}} fa-fw"></i> {{ question.title }}</dt>
    <dd>{{ ../format this }}</dd>
  {{/each}}
  </dl>
</div>
